body {
    background-color: lightgrey;
}
.nav-wrapper {
    background-color: #e5f2ff;
}

nav ul a {
    color: #000;
    font-weight: bold;
    font-size: 18pt;
}

header  {
    height: 263px;
}

#header_image {
    width: 100%;
}

#aboutMe {
    height: auto;
    background-color: #e5f2ff;
}

#projects {
    height: auto;
    background-color: #FFFF00; /* #99bee3 */
}

#pic_tiffany {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    margin: 0 10px 10px 50px;
}

#about-me-text {
    display: flex;
}

#about-me-youtube-link {
    display: contents;
    font-weight: bold;
}

#youtube {
    height: auto;
    background-color: #C71585;
}

#player0, #player1, #player2 {
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    nav .nav-wrapper {
        width: 1200px;
    }

    #header_image, #aboutMe, #projects {
        width: 1200px;
    }
}
