body {
    background-color: lightgrey;
}
.nav-wrapper {
    background-color: #e5f2ff;
}

nav ul a, .section-title {
    color: #242424;
    font-weight: bold;
    font-size: 25pt;
    font-family: 'Dosis', sans-serif;
}

.section-title {
    font-size: 50pt;
}

header  {
    height: 263px;
}

#header_image {
    width: 100%;
}

#aboutMe {
    height: auto;
    background-color: #e5f2ff;
}

#projects {
    height: auto;
    background-color: #FFFF00; /* #99bee3 */
}

#pic_tiffany {
    height: 30%;
    width: 28%;
    border-radius: 10px;
}

#about-me-text {
    width: 70%;
    margin-top: 0;
}

.about-me-content, #youtube-channel-info {
    margin-bottom: 2%;
    font-family: 'Dosis', sans-serif;
    font-size: 15pt;
}

#about-me-youtube-link {
    display: contents;
    font-weight: bold;
}

#youtube {
    height: auto;
    background-color: #C71585;
}

#large-font {
    font-size: 24pt;
}

#underline {
    text-decoration: underline;
}

#overline {
    text-decoration-line: overline;
    font-size: 21pt;
    color: lightgreen;
}

#double-underline {
    text-decoration-line: underline;
    text-decoration-style: double;
    color: #fff;
}

#wavy-underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    display: inline-block;
    transform: rotate(5deg);
}

#dotted-underline {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #e5f2ff;
    letter-spacing: 0.3em;
    font-weight: bolder;
}

#small-font {
    font-size: small;
}

#uppercase-bold {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFF00;
}

#italicize-large {
    font-style: italic;
    font-size: larger;
    color: #1e90ff;
    background-color: #fff;
}

#video-title, #blog-title {
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    font-style: italic;
    font-family: 'Major Mono Display', monospace;
}

#blog-title {
    font-family: 'Charm', cursive;
}

#blog-content-snippet {
    font-family: 'Dosis', sans-serif;
    font-size: 30pt;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 15%;
    width: 75%;
    height: 75%;
}

#contact {
    background-color: #008080;
    height: auto;
    opacity: 0.9;
}

#contact-social-media-icons a {
    margin-left: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    nav .nav-wrapper {
        width: 1200px;
    }

    #header_image, #aboutMe, #projects, #youtube, #blog, #contact {
        width: 1200px;
    }
}
